<h2>Pipe Example</h2>

<h3>{{msg | uppercase}}</h3>

<h2>Employee Designation : {{employeeObj.designation | lowercase}}</h2>

<h3>Todays Date : {{todaysDate}}</h3>

<h3>Todays Date : {{todaysDate | date}}</h3>

<h3>Todays Date(Short Date Format) : {{todaysDate | date:'shortDate'}}</h3>

<h3>Todays Date(medium Date Format) : {{todaysDate | date:'mediumDate'}}</h3>

<h3>Todays Date(dd/MM/yyyy format) : {{todaysDate | date:'dd/MM/yyyy'}}</h3>

<h3>Employee Salary : {{employeeObj.salary | currency}}</h3>

<h3>Employee Salary(In Rs) : {{employeeObj.salary | currency:'INR'}}</h3>

<h3>Employee Income : {{employeeObj.income | number }}</h3>

<h3>Employee Income (After Formatting) : {{employeeObj.income | number:'5.2-2' }}</h3>

<h3>Employee Other Income (After Formatting) : {{employeeObj.othIncome | number:'.1-3' }}</h3>