<!-- <p>home works!</p> -->
<h1>My First Component</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptas autem, repudiandae modi eius animi
    repellat vero perferendis facilis aliquam inventore obcaecati. Hic soluta accusantium eveniet quo voluptatem
    blanditiis nihil fugiat quaerat vitae minima corrupti voluptas, beatae natus fuga omnis recusandae nam ipsa
    voluptatibus, quisquam quos deleniti porro atque consequatur minus? Facere, maxime voluptatum necessitatibus labore,
    provident dolore, quaerat saepe rerum quasi nam natus atque! Numquam fugiat iste cumque deleniti perferendis.
    Recusandae nobis sequi culpa fuga, deleniti dolorem quia eveniet harum deserunt voluptate autem. Ad modi adipisci
    consequuntur eveniet architecto fugit repudiandae ab quaerat hic dolorem possimus cumque incidunt vitae excepturi
    esse sapiente quas, vel dolorum corrupti mollitia aliquid quam nisi. Dicta recusandae praesentium molestiae fugiat
    iusto doloremque optio ullam, possimus blanditiis delectus, fugit quisquam adipisci consequuntur iste sapiente autem
    corporis nisi! Similique dolorem numquam, molestias voluptatum sapiente perferendis accusantium amet voluptatem
    explicabo totam asperiores alias dicta perspiciatis esse, nam eaque culpa ullam labore maxime consectetur adipisci
    ipsam iure. Blanditiis repudiandae culpa cupiditate ullam, animi quam architecto perspiciatis magnam quia nostrum
    facere nobis quae. Consequatur reprehenderit repudiandae maiores facere laudantium illo magnam et non nemo
    doloremque sint sequi dignissimos quaerat eos nobis consectetur, ea cumque eveniet ratione distinctio? Rem,
    voluptas?</p>